body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}
.intro {
  display: flex;
  background-color: rgba(0, 0, 0, 0.9);
  height: 100vh;
  color: beige;
}

.typing {
  position: relative;
  margin-left: 10px;
}
.typing::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 6%;
  border-right: 2px solid white;
  top: 1.3vh;
  right: -4px;
  animation: blink 0.5s infinite;
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
